name: Check linters

on:
  push:
    branches: [ github_actions_assignment ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r app/requirements.txt
      - name: Run linter
        run: flake8 app
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r app/requirements.txt
      - name: Run tests
        run: python -m pytest --junitxml=report.xml app
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test_result
          path: report.xml
