name: Check linters

on:
  push:
    branches: [ github_actions_assignment ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r app/requirements.txt
      - name: Run linter
        run: flake8 app
  build_image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Build Docker image
        run: |
          export DEPLOY_REF="${{ github.sha }}"
          make build IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/simple-app:${{ github.sha }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/simple-app:${{ github.sha }}
