name: Deploy app

on:
  release:
    types: [published]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: "ghcr.io/${{ github.repository_owner }}/simple-app:${{ github.sha }}"
      CONTAINER_NAME: "simple-app"
    steps:
    - name: Checkout код
      uses: actions/checkout@v4

    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          docker pull ${{ github.env.IMAGE_NAME }}
          docker rm -f ${{ github.env.CONTAINER_NAME }} || true
          docker run -d \
            --name ${{ github.env.CONTAINER_NAME }} \
            -p 5000:5000 \
            ${{ github.env.IMAGE_NAME }}
